# Build directories
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/

# NuGet Packages
*.nupkg
*.pup
*.pdb

# MSTest test Results
TestResults/

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio code coverage results
*.opendb

# Tye
.tye/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Resharper
_ReSharper*/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
